<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Reset Password</title>
  </head>
  <body>
    <h2>Здравствуйте, {{username}}!</h2>
    <p>
      Вы получили это письмо, потому что запросили сброс пароля для вашего
      аккаунта.
    </p>
    <p>
      Для восстановления пароля, пожалуйста, перейдите по ссылке ниже (ссылка
      действительна 15 минут):
    </p>
    <p>
      <a href="{{domain}}/reset-password?token={{token}}" target="_blank"
        >Сбросить пароль</a
      >
    </p>
    <p>
      Если вы не запрашивали сброс пароля, просто проигнорируйте это письмо.
    </p>
  </body>
</html>
